/* footer styling */

.footer{
    background-color: var(--primary_blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer table, .copyright{
    width: 60vw;
    margin-top: 5vh;
    table-layout: fixed;
}

.footer th, .footer td, .footer div{
    text-align: left;
    color: var(--bg_color);
    line-height: 30px;
}

.footer th{
    padding-bottom: 1.2vh;
}

.footer button{
    background-color: var(--secondary_blue);
    border: none;
    color: var(--bg_color);
    width: 20vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 2vh;
    height: 5vh;
    overflow-y: hidden;
}

.footer button:hover{
    background-color: var(--bg_color);
    color: var(--secondary_blue);
}

.contact{
    display: flex;
    align-items: center;
    margin-bottom: 5vh;;
}

.contact div{
    margin-left: 1vw;
}

/* Responsive */ 

@media only screen and (max-width: 1000px) {
    .footer button{
        width: 30vw;
    }

    .footer table, .footer div{
        width: 90%;
    }
}