/* base styles */

:root{
    --bg_color: #FFFFFF;
    --accent_text_color: #1B3045;
    --primary_text_color: #2E2E2E;
    --secondary_text_color: #727272;

    --primary_blue: #082C85;
    --secondary_blue: #266EF4;

    --primary_turquoise: #21CDD5;
    --secondary_turquoise: #25CABC;
    
}

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.1vh;
}

html, body{
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 2vh;
}