/* styling for main content */

.crop_background {
    z-index: -2;
    position: absolute;
    top:45%;
    width: 120%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.crop_background img{
    width: 100%;
}

.top_text{
    color: var(--accent_text_color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
    margin-bottom: 10vh;
}

    .top_text img{
        height: 10vh;
    }

    .top_text > div > span{
        font-weight: bold;
    }

    .top_text div{
        text-align: center;
        width: 75%;
    }

.main_content{
    display: flex;
    width: 100%;
    margin-bottom: 20vh;
}

    .squares{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .square{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background-color: var(--bg_color);
        width: 25vw;
        padding: 2%;
        margin: 1%;
    }

    .square div{
        display: flex;
        margin-bottom: 6vh;
    }

    .highlight{
        color: var(--secondary_text_color);
    }

    .logo{
        margin-bottom: 5vh;
    }

    .text_wrapper{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .quote{
        width: 15vw;
        margin-right: 2%;
        margin-top: 2%;
    }

    .text{
        display: flex;
        flex-direction: column;
    }

.bottom_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .bottom_text div{
        font-weight: bold;
        margin-bottom: 3vh;
    }

    .bottom_text button{
        border-radius: 30px;
        height: 5vh;
        width: 10vw;
        border: none;
        color: var(--bg_color);
        background-color: var(--primary_turquoise);
        margin-bottom: 10vh;
        overflow-y: hidden;
    }

.crop_bars{
    position: absolute;
    z-index: -1;
    top: 190%;
    width: 100%;
    overflow-x: hidden;
}

.bars{
    margin-left: 10%;
    float: right;
    width: 20%;
    margin-right: -4vw;
    overflow-x: hidden;
}


/* Responsive */

@media only screen and (max-width: 900px) {

    .crop_background{
       height: 160%;
       width: 200%;
    }

    .bottom_text button {
        width: 20vw;
    }

    .crop_bars{
        top: 235%;
    }  
    
    .bars{
        width: 40%;
        margin-right: -10vw;
    }

    .squares{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .square{
        width: 80%;
        margin: 2%;
        height: 100%;
    }
}

