/* styling for main content */

/* .waves_main{
    z-index: -2;
    top:45%;
    display: block;
    margin: auto;
} */

.main{
    height: 100%;
}

.crop {
    z-index: -2;
    position: absolute;
    top:55%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.crop img {
    width: 120%;
}

.top_text{
    color: var(--accent_text_color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    margin-top: 7%;
    margin-bottom: 10vh;
}

.top_text > div > span{
    font-weight: bold;
}

.top_text div{
    text-align: center;
    width: 75%;
}

.main_content{
    display: flex;
    width: 100%;
}

    .squares{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .square{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background-color: var(--bg_color);
        height: 100%;
        width: 25vw;
        padding: 2%;
    }

    .square div{
        display: flex;
    }

    .square span{
        color: var(--secondary_text_color);
    }

    .logo{
        margin-bottom: 5vh;
    }

    .quote{
        height: 4vh;
        margin:1%;
    }

.bottom_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}
    .bottom_text div{
        font-weight: bold;
        margin-bottom: 3vh;
    }

    .bottom_text button{
        border-radius: 30px;
        height: 5vh;
        width: 10vw;
        border: none;
        color: var(--bg_color);
        background-color: var(--primary_turquoise);
    }

.bars{
    right: 0;
    position: absolute;
    z-index: -1;
    top: 180%;
}

